- name: Set path to kubernetes installer
  set_fact:
    app_path: ../../kubernetes-release/
  when: app_path is not defined

- name: Set remote path to kubernetes installer
  set_fact:
    remote_app_path: /root/kubernetes-release/
  when: remote_app_path is not defined

- name: Replicate apps
  copy:
    src: "{{ app_path }}"
    dest: "{{ remote_app_path }}"
    force: no

- name: Extract server tarball
  shell: |
    tar zxf kubernetes-server-linux-amd64.tar.gz
    tar zxf kube-dns.tar.gz
    pushd kubernetes/server/bin > /dev/null
    for tar in *.tar; do
      docker load -i ${tar}
    done
    cp kubeadm kubectl kubelet /usr/local/bin
    popd > /dev/null
    rm -rf kubernetes-server-linux-amd64.tar.gz kube-dns.tar.gz kubernetes
  args:
    chdir: "{{ remote_app_path }}"
    executable: /bin/bash
  register: debug_extracting

- debug:
    msg: "{{ debug_extracting }}"