[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
ExecStart=/usr/bin/kubelet --pod-infra-container-image=kubernetes/pause:latest --kubeconfig=/etc/kubernetes/kubelet.conf --pod-manifest-path=/etc/kubernetes/manifests --cluster-dns=10.21.0.10 --cluster-domain=cluster.local --pod-cidr=10.20.0.0/16 --register-node --allow-privileged
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target