apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --data-dir=/var/lib/etcd
    - --listen-client-urls=https://127.0.0.1:2379
    - --advertise-client-urls=https://127.0.0.1:2379
    - --listen-peer-urls=https://127.0.0.1:2380
    - --initial-advertise-peer-urls=https://127.0.0.1:2380
    - --initial-cluster=default=https://127.0.0.1:2380
    - --trusted-ca-file=/etc/pki/etcd-ca.pem
    - --peer-trusted-ca-file=/etc/pki/etcd-ca.pem
    - --cert-file=/etc/pki/kube-etcd-server.pem
    - --key-file=/etc/pki/kube-etcd-server-key.pem
    - --peer-client-cert-auth=true
    - --peer-cert-file=/etc/pki/etcd-peer-{{ inventory_hostname }}.pem
    - --peer-key-file=/etc/pki/etcd-peer-{{ inventory_hostname }}-key.pem
    - --client-cert-auth=true
    image: {{ etcd_image }}
    livenessProbe:
      failureThreshold: 8
      exec:
        command:
        - etcdctl
        - --endpoints=https://localhost:2379
        - --cert-file=/etc/pki/etcd-healthcheck-client.pem
        - --key-file=/etc/pki/etcd-healthcheck-client-key.pem
        - --ca-file=/etc/pki/etcd-ca.pem
        - cluster-health
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: etcd
    resources: {}
    volumeMounts:
    - mountPath: /var/lib/etcd
      name: etcd
    - mountPath: /etc/pki
      name: pki
  hostNetwork: true
  volumes:
  - hostPath:
      path: /var/lib/etcd
      type: DirectoryOrCreate
    name: etcd
  - hostPath:
      path: /etc/kubernetes/pki
      type: DirectoryOrCreate
    name: pki