apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: kube-apiserver
    tier: control-plane
  name: kube-apiserver
  namespace: kube-system
spec:
  containers:
  - command:
    - kube-apiserver
    - --requestheader-group-headers=X-Remote-Group
    - --client-ca-file=/etc/kubernetes/pki/kube-ca.pem
    - --kubelet-client-certificate=/etc/kubernetes/pki/apiserver-kubelet-client.pem
    - --kubelet-client-key=/etc/kubernetes/pki/apiserver-kubelet-client-key.pem
    - --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname
    - --requestheader-username-headers=X-Remote-User
    - --requestheader-extra-headers-prefix=X-Remote-Extra-
    - --tls-private-key-file=/etc/kubernetes/pki/kube-api-server-key.pem
    - --tls-cert-file=/etc/kubernetes/pki/kube-api-server.pem
    - --secure-port=6443
    - --allow-privileged=true
    - --requestheader-allowed-names=front-proxy-client
    - --service-cluster-ip-range=10.21.0.0/16
    - --requestheader-client-ca-file=/etc/kubernetes/pki/kube-front-proxy-ca.pem
    - --proxy-client-cert-file=/etc/kubernetes/pki/kube-front-proxy-client.pem
    - --proxy-client-key-file=/etc/kubernetes/pki/kube-front-proxy-client-key.pem
    - --admission-control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,ResourceQuota
    - --enable-bootstrap-token-auth=true
    - --advertise-address=0.0.0.0
    - --authorization-mode=Node,RBAC
    - --etcd-servers=https://127.0.0.1:2379
    - --etcd-cafile=/etc/kubernetes/pki/etcd-ca.pem
    - --etcd-certfile=/etc/kubernetes/pki/apiserver-etcd-client.pem
    - --etcd-keyfile=/etc/kubernetes/pki/apiserver-etcd-client-key.pem
    - --feature-gates=DynamicKubeletConfig=true
    image: gcr.io/google_containers/kube-apiserver:{{ kube_release_version }}
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 6443
        scheme: HTTPS
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: kube-apiserver
    resources:
      requests:
        cpu: 250m
    volumeMounts:
    - mountPath: /etc/ssl/certs
      name: ca-certs
      readOnly: true
    - mountPath: /etc/kubernetes/pki
      name: k8s-certs
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /etc/kubernetes/pki
      type: DirectoryOrCreate
    name: k8s-certs
  - hostPath:
      path: /etc/ssl/certs
      type: DirectoryOrCreate
    name: ca-certs